{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- Script para mostrar y manejar el boton oscurecer tema -->
<script>
{
  // Verificar el tema guardado en localStorage o el tema del sistema
  const savedScheme = localStorage.getItem('colorscheme');
  const systemScheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  const initialScheme = savedScheme || systemScheme;
  document.documentElement.setAttribute('data-theme', initialScheme);

  // Crear el interruptor para cambiar el tema
  const toggleContainer = document.createElement('div');
  toggleContainer.classList.add('theme-toggle');

  const toggleLabel = document.createElement('label');
  toggleLabel.innerText = 'Modo oscuro';
  toggleContainer.appendChild(toggleLabel);

  const toggleSwitch = document.createElement('div');
  toggleSwitch.classList.add('switch');

  const toggleInput = document.createElement('input');
  toggleInput.type = 'checkbox';
  toggleInput.checked = initialScheme === 'dark';
  toggleSwitch.appendChild(toggleInput);

  const toggleSlider = document.createElement('span');
  toggleSlider.classList.add('slider');
  toggleSwitch.appendChild(toggleSlider);

  toggleContainer.appendChild(toggleSwitch);

  // Agregar el interruptor al final de la página
  document.body.appendChild(toggleContainer);

  // Manejar el cambio de tema
  toggleInput.addEventListener('change', function() {
    const newTheme = toggleInput.checked ? 'dark' : 'light';
    document.documentElement.setAttribute('data-theme', newTheme);
    localStorage.setItem('colorscheme', newTheme);
  });
}
</script>
