/* Estilos para el tema claro (por defecto) */
/* Estilos para el interruptor */
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px; /* Espacio entre el botón de búsqueda y el interruptor */
}

.theme-toggle .nav-link {
  padding: 0.5rem 1rem; /* Ajusta el padding para que coincida con otros elementos del navbar */
  color: var(--text-color); /* Usa la variable de color para el tema */
}

.theme-toggle .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.theme-toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.theme-toggle input:checked + .slider {
  background-color: #bb86fc;
}

.theme-toggle input:checked + .slider:before {
  transform: translateX(26px);
}
